/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap'); */
@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@400,500,700&display=swap');
@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Clash Grotesk', sans-serif;
  /* --font-sans: 'Public Sans', sans-serif; */
  /* --font-sans: 'Bricolage Grotesque', sans-serif; */

  --color-green-50: oklch(90.98% 0.04338 166.72);
  --color-green-100: oklch(88.46% 0.05417 166.29);
  --color-green-200: oklch(83.957% 0.07763 165.13);
  --color-green-300: oklch(79.343% 0.09927 163.52);
  --color-green-400: oklch(74.927% 0.11835 162.26);
  --color-green-500: oklch(70.253% 0.13197 160.37);
  --color-green-600: oklch(58.426% 0.10793 160.73);
  --color-green-700: oklch(45.657% 0.08188 161.06);
  --color-green-800: oklch(32.298% 0.05338 161.83);
  --color-green-900: oklch(17.276% 0.02184 161.78);
}

.dark {
  --ui-bg: rgb(7, 7, 7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}

.dark {
  --ui-primary: var(--ui-color-primary-500);
}

.underline-primary {
  @apply underline decoration-green-500;
}

::selection {
  /* Using Tailwind color utilities as CSS variables */
  background-color: theme('colors.primary.500');
  color: theme('colors.white');
}
